
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
/out/

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
/build/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets
/ios/Flutter/vm_snapshot_data
/ios/Flutter/isolate_snapshot_data
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace
/ios/Runner.xcodeproj/project.xcworkspace
/ios/Runner.xcodeproj/xcuserdata
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/android/key.properties
/android/local.properties
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/app/build/
/android/app/src/main/java/io/flutter/plugins/
/android/build/
/android/gradle.properties

# Generated plugin registrant
/lib/generated_plugin_registrant.dart

# Symbolication files
*.symbols